<h2>Statistics</h2>

<p>
  The first link was longified on <strong><%= Link.first.created_at %></strong>.
  Since then, a total of <strong><%= Link.count %></strong> links have been longified.
</p>

<p>
  The most popular theme is <strong><%= most_popular_theme.name %></strong>,
  with a total of <strong><%= most_popular_theme.links.count %></strong> links.
  The least popular is <strong><%= least_popular_theme.name %></strong>,
  with a total of only <strong><%= least_popular_theme.links.count %></strong>.
</p>
