<h2>Hall of Fame</h2>

<table>
  <tr>
    <td>Theme</td>
    <td>Original URI</td>
    <td>Longified URI</td>
    <td>Num. clicks</td>
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.theme.name %></td>
      <td><input type="text" readonly="readonly" value="<%= link.uri %>"></td>
      <td><input type="text" readonly="readonly" value="<%= longify link %>"></td>
      <td><%= link.clicks_count %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @links %>