<% if @link.errors.any? %>
  <p class="error">Plz enter a valid URI beginning with either http:// or https://. Thx.</p>
<% end %>

<%= form_for @link do |f| %>
  <%= f.select :theme, options_from_collection_for_select(Theme.all, :id, :name) %>
  <%= f.text_field :uri, placeholder: "http://" %>
  <%= f.submit "Longify!" %>
<% end %>

<p><%= link_to "About", page_path("about") %></p>